<div class="col-md-4 col-sm-4 col-xs-6 item">
  <div class="image">
    <%=link_to product_path(product) do  %>
          <% if product.image.present? %>
            <%=image_tag(product.image.thumb.url, class:"thumbnail") %>
          <%else  %>
            <%=image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")  %>
          <%end  %>
        <%  end %>
  </div>

  <div class="fig">
    <p class="title"><%= link_to(product.title, product_path(product)) %> </p>
    <p class="actions">
      <span class="price">￥<%= product.price %></span>
      <span class="center">
        <% if product.quantity.present? && product.quantity > 0 %>
          <%= link_to(content_tag(:i, "", class: "fa fa-shopping-cart fa-lg"), add_to_cart_product_path(product), :method => :post) %>
        <% else %>
          已售馨
        <% end %>
      </span>

    </p>
  </div>
</div>
